# Empty CSS file for your own CSS

@import url("http://maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css");

.panel-product {
  -moz-transition: all .3s ease;
  -o-transition: all .3s ease;
  -webkit-transition: all .3s ease;
}
.panel-product:hover {
  box-shadow: 0px 0px 30px rgba(0, 0, 0, 0.2);
}
.panel-product .panel-heading {
  padding: 20px 10px;
}
.panel-product .panel-heading .fa {
  margin-top: 10px;
  font-size: 58px;
}
.panel-product.list-group-item {
  color: #777777;
  border-bottom: 1px solid rgba(250, 250, 250, 0.5);
}
.panel-product .list-group-item:last-child {
  border-bottom-right-radius: 0px;
  border-bottom-left-radius: 0px;
}
.panel-product .list-group-item:first-child {
  border-top-right-radius: 0px;
  border-top-left-radius: 0px;
}
.panel-product .panel-body {
  background-color: #f0f0f0;
  font-size: 40px;
  color: #777777;
  padding: 20px;
  margin: 0px;
}

/*Segmentation for Jacks css*/
.bodyview {
  min-height: 100%;
  width: 100%;
  position: absolute;
}

.carouselBacking {
  width: 833.333%;
  height: 400px;
  /*outline: 4px solid green;*/
}

.carouselControl {
  height: 100px;
  width: 60%;
  margin-left: 20%;
  outline: 4px solid green;
}

.carouselCount {
  width: 58%;
  display: inline-block;
  height: 50px;
  outline: 2px solid blue;
}

.carouselFourth {
  width: 12%;
  /*border-right: 2px solid black;*/
  display: inline-block;
  height: 400px;
  vertical-align: top;
}

.carouselLeft {
  display: inline-block;
  width: 20%;
  height: 40px;
  text-align: center;
  font-size: 18px;
  color: white;
  background-color: purple;
}

.carouselNameEntry {
  position: absolute;
  width: 25%;
  margin-left: 2.5%;
  font-size: 22px;
  font-style: bold;
  margin-top: 100px;
  text-align: center;
  height: 45px;
}

.carouselRight {
  display: inline-block;
  width: 20%;
  height: 40px;
  text-align: center;
  font-size: 18px;
  color: white;
  background-color: purple;
}

.circle {
  height: 25px;
  width: 25px;
  border-radius: 50%;
  margin-left: 10px;
  border: 1px solid gray;
  display: inline-block;
}

.circleContainer {
  width: 5%;
  margin-left: 5%;
  display: inline-block;
}

.colorFilter {
  height: 210px;
  width: 210px;
  margin: 30px 0 0 -43px;
  position: absolute;
  display: inline-block;
  z-index: 2;
}

.colorFilterCell {
  height: 70px;
}

.createButtonCellHolder {
  height: 50%;
}

.createButton {
  width: 90%;
  height: 90%;
  margin: 5%;
  background-color: pink;
}

.createButtonContainer {
  width: 80%;
  height: 80%;
  margin: 5% 0 0 10%;
}

.createColorCellHolder {
  height: 33.33%;
}

.createColor {
  width: 90%;
  height: 90%;
  margin: 5%;
  background-color: pink;
}

.createColorContainer {
  height: 80%;
  margin-top: 5%;
  margin-left: 10%;
  width: 80%;
}

.createFabric {
  width: 90%;
  height: 90%;
  margin: 5%;
  background-color: pink;
}

.createFabricCellHolder {
  height: 33.33%;
  /*outline: 2px solid green;*/
}

.createFabricContainer {
  height: 80%;
  margin-top: 5%;
  margin-left: 10%;
  width: 80%;
}

.createGroups {
  height: 40px;
  margin-top: 30px;
  font-size: 28px;
  text-align: center;
  display: inline-block;
  width: 60%;
  margin-left: 20%;
}

.createProductType {
  font-size: 28px;
  height: 40px;
  margin-top: 70px;
  text-align: center;
  display: inline-block;
  width: 60%;
  margin-left: 20%;
}

.createSeason {
  width: 90%;
  height: 90%;
  margin: 5%;
  background-color: pink;
}

.createSeasonCellHolder {
  /*outline: 2px solid red;*/
  height: 50%;
}

.createSeasonContainer {
  width: 80%;
  height: 80%;
  margin: 5% 0 0 10%;
}

.createStitch {
  width: 90%;
  height: 90%;
  margin: 5%;
  background-color: pink;
}

.createStitchCellHolder {
  height: 50%;
}

.createStitchContainer {
  width: 80%;
  height: 80%;
  margin: 5% 0 0 10%;
}

.createSubmit {
  width: 250px;
  height: 40px;
  font-size: 24px;
  text-align: center;
  margin: 0 auto;
  background-color: purple;
  color: white;
}

.createTags {
  height: 40px;
  margin-top: 30px;
  font-size: 28px;
  text-align: center;
  display: inline-block;
  width: 60%;
  margin-left: 20%;
}

.createVendor {
  font-size: 28px;
  height: 40px;
  margin-top: 30px;
  text-align: center;
  display: inline-block;
  width: 60%;
  margin-left: 20%;
}

.curatePopup {
  height: 200px;
  width: 300px;
  margin: 150px 40%;
  background-color:gray;
  position: fixed;
  z-index: 3;
}

.dashFilter {
  -webkit-appearance: none;  /*REMOVES DEFAULT CHROME & SAFARI STYLE*/
  -moz-appearance: none;  /*REMOVES DEFAULT FIREFOX STYLE*/
  border: 0 !important;  /*REMOVES BORDER*/
  /*color: #fff;*/
  -webkit-border-radius: 5px;
  border-radius: 5px;
  font-size: 18px;
  padding: 3px;
  width: 100px;
  cursor: pointer;
  margin-top: 20px;
  margin-left: 10px;
  background-color: #CAE9F7;
  display: inline-block;
}

.deleteButton {
  margin-left: 10%;
  width: 35%;
  margin-top: 10px;
  color: purple;
}

.designerDashActive {
  display: inline-block;
  height: 45px;
  width: 225px;
  text-align: center;
  font-size: 27px;
  background-color: #F9F7F5;
  vertical-align: bottom;
  margin-left: 10%;
  margin-top: 20px;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}

.designerDashCollectionCell {
  height: 40px;
  font-size: 26px;
}

.designerDashCollections {
  height: 40px;
  border-bottom: 2px solid #BFBBB7;
  width: 100%;
}

.designerDashCollectionsContainer {
  background-color: #F9F7F5;
  height: 100%;
  text-align:justify;
}

.designerDashCollectionsContainer p{
  margin-top: 8px;
  font-size: 18px;
  font-style: bolder;
}

.designerDashContests {
  height: 40px;
  border-bottom: 2px solid #BFBBB7;
  width: 100%;
}

.designerDashCurated {
  display: inline-block;
  height: 45px;
  width: 225px;
  background-color: #EBEBE9;
  text-align: center;
  font-size: 27px;
  margin-left: 10px;
  margin-top: 20px;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}

.designerDashDashTitle {
  font-size: 25px;
  background-color: #F6FDFA;
}

.designerDashDeleteProduct {
  position: fixed;
  height: 200px;
  width: 300px;
  font-size: 25px;
  color: white;
  margin-top: 300px;
  background-color: gray;
  outline: 4px solid aqua;
  z-index: 3
}

.designerDashFilter {
  display: inline-block;
  height: 80px;
  width: 94%;
  margin-left: 2%;
  vertical-align: top;
  background-color: #F9F7F5;
}

.designerDashList {
  width: 115%;
  margin-left: 5px;
}

.designerDashListContainer {
  display: block;
}

.designerDashSearchFilterContainer {
  height: 120px;
  display: block;
}

.designerDashSearch {
  display: inline-block;
  height: 100%;
  vertical-align: top;
}

.designerDashSearchInput {
  width: 100%;
  height: 70px;
  margin-top: 20px;
  font-size: 22px;
}

.designerDashToggleContainer {
  height: 65px;
  width: 100%;
  display: block;
}

.fabricFilter {
  height: 210px;
  width: 210px;
  margin: 30px 0 0 -43px;
  position: absolute;
  display: inline-block;
  z-index: 3;
}

.fabricFilterCell {
  height: 70px;
}

.fabricFilterCell img{
  height: 100%;
  width: 100%;
  position: absolute;
}

#filterRed {
  background-color: red;
}

#filterBlue {
  background-color: blue;
}

#filterGreen {
  background-color: green;
}

#filterAqua {
  background-color: aqua;
}

#filterMagenta {
  background-color: magenta;
}

#filterYellow {
  background-color: yellow;
}

#filterOrange {
  background-color: orange;
}

#filterBlack {
  background-color: black;
}

#filterWhite {
  background-color: white;
}

.howToCell {
  min-height: 100%;
  width: 33%;
  outline: 3px solid yellow;
  display: inline-block;
  margin: 0;
}

.howToCell img{
  width: 100%;
}

#i_file {
  position: absolute;
}

.logoImage {
  height: 173px;
}

.logoutButton {
  height: 50px;
  display: inline-block;
  float: right;
  margin-right: 20px;
}

.messagesCell {
  height: 140px;
  background-color: #e0ebeb;
}

.messageContainer {
  display: inline-block;
}

.messageContent {
  min-height: 300px;
  outline: 4px solid gray;
}

.messageContentHolder {
  height: 60px;
  font-size: 22px;
  width: 80%;
  margin-left: 10%;
  margin-top: 15px;
  background-color: white
}

.messageNameHolder {
  height: 50px;
  font-size: 26px;
  background-color: #e5ccff;
  width: 100%;
}

.messageSender {
  height: 25%;
  background-color: red;
  font-size: 29px;
}

.messagesSingleContainer {
  height: 100%;
  outline: 2px solid red;
}

.messageText {
  height: 75%;
  font-size: 22px;
}

.modalFiller {
  height: 100%;
  width: 25%;
  display: inline-block;
  vertical-align: top;
}

.modalImage {
  width: 100%;
  height: 100%;
}

.modalPhotoHolder {
  width: 50%;
  /*margin-left: 25%;*/
  vertical-align: top;
  outline: 2px solid gray;
  height: 80%;
  margin-top: 5%;
  z-index: 6;
  display: inline-block;
}

.navigationBar {
  height: 40px;
  font-size: 30px;
  background-color: black;
  color: white;
  display: block;
}

.navTitle {
  display: inline-block;
}

.newProductBegin {
  width: 160px;
  height: 50px;
  margin-top: 20px;
  margin-left: auto;
  font-size: 22px;
  padding: 0;
}

.newProductButtonHolder {
  display: inline-block;
  float: right;
}

.new_product_save {
  width: 100px;
  height: 45px;
  margin-top: 5px;
}

.new_product_send {
  width: 100px;
  height: 45px;
  margin-top: 5px;
}

.newProductCenterColumn {
  display: inline-block;
  outline: 2px solid green;
  height: 100%;
  vertical-align: top;
}

.newProductCollectionsHolder {
  display: block;
  width: 100%;
  background-color: #F9F7F5;
  padding: 15px 0 15px 0;
  border-bottom: 2px solid gray;
}

.newProductCollectionsInput {
  width: 80%;
  margin-left: 10%;
  font-size: 16px;
}

.newProductCollectionsHolder h4 {
}

.newProductCollectionsHolder p {
  margin-left: 10%;
  margin-top: 5px;
  font-size: 12px;
}


.newProductCurrentImage {
  width: 100%;
  height: 100%;
}

.newProductDeleteMini {
  margin: -116% 0 0 80%;
  font-size: 25px;
}

.newProductDescription {
  font-size: 16px;
  width: 80%;
  margin-left: 10%;
}

.newProductDescriptionHolder {
  background-color: #F9F7F5;
  padding-bottom: 15px;
  display: inline-block;
  width: 100%;
}

.newProductDescriptionHolder h2, h4 {
  margin-left: 10%;
}

.newProductDetailsHolder {
  width: 90%;
  margin-left: 5%;
  height: 650px;
  margin-top: 5%;
}


.newProductHeadline {
  display: inline-block;
  font-size: 26px;
}

.newProductHolder {
  width: 100%;
  height: 900px;
  position: relative;
  outline: 2px solid green;
}

.newProductImageFrame {
  width: 100%;
  height: 100%;
}


.newProductImageHolder {
  width: 80%;
  margin-left: 10%;
  margin-top: 15px;
  height: 550px;
}

.newProductLeftColumn {
  display: inline-block;
  height: 100%;
  vertical-align: top;
}

.newProductMiddleColumn {
  display: inline-block;
  height: 100%;
  vertical-align: top;
}

.newProductMiniImage {
  outline: 1px dashed gray;
  height: 100%;
}

.newProductMiniImage img {
  width: 100%;
  height: 100%;
}

.newProductMiniImagesHolder {
  width: 100%;
  height: 130px;
  vertical-align: bottom;
  margin-top: -130px;
}

.newProductModal {
  height: 100%;
  width: 100%;
  background-color: black;
  position: fixed;
  z-index: 5;
}

.newProductModal h3{
  margin-top: 10px;
}

.newProductModalContent {
  margin-top: 50px;
  width: 80%;
  margin-left: 10%;
  text-align: center;
}

.newProductModalDelete {
  font-size: 24px;
  float: right;
  margin-right: 10px;
}

.newProductModalHolder {
  width: 40%;
  /*margin-left: 25%;*/
  vertical-align: top;
  background-color: white;
  outline: 2px solid gray;
  height: 350px;
  margin-top: 5%;
  z-index: 6;
  display: inline-block;
}

.newProductName {
  width: 80%;
  margin-left: 10%;
  height: 30px;
  font-size: 20px;
  text-align: center;
}

.newProductRightColumn {
  display: inline-block;
  height: 100%;
  vertical-align: top;
}

.newProductSubmitBar {
  height: 55px;
  background-color: #F4FEFA;
}

.newProductSwatchHolder {
  margin-top: 40px;
  width: 100%;
  height: 380px;
  background-color: white;
  overflow: hidden;
}

.newProductSwatchTabs {
  height: 45px;
  width: 100%;
  background-color: black;
}

.newProductTab {
  height: 30px;
  margin-top: 15px;
  color: white;
  background-color: black;
  font-size: 16px;
  text-align: center;
  border-top-left-radius:8px;
  border-top-right-radius:8px;
}

.newProductTagsHolder {
  width: 100%;
  background-color: #F9F7F5;
  padding: 15px 0 15px 0;
}

.newProductTagsInput {
  width: 80%;
  font-size: 16px;
  margin-left: 10%;
}

.newProductTitle {
  height: 55px;
  background-color: white;
  outline: none;
  box-shadow: none;
  border: none;
  border-bottom: 2px solid blue;
  font-size: 28px;
  width: 80%;
  margin-left: 10%;
  margin-top: 40px;
}

.newProductTypeDropdown {
  width: 80%;
  margin-left: 10%;
  font-size: 16px;
}

.newProductTypeHolder {
  background-color: #F9F7F5;
  display: block;
  width: 100%;
  padding-bottom: 15px;
  border-bottom: 2px solid gray;
}

.newProductTypeHolder h4 {
  padding-top: 20px;
}

.newprojectcontainer {
  background-color: #E0FFFF;
  height: 100px;
  width: 100%;
  display: block;
  position: absolute;
}

.newProjectView {
  width: 60%;
  /*overflow: hidden;*/
  margin-left: 20%;
  outline: 4px solid gray;
  height: 400px;
}

.photoModal {
  width: 100%;
  height: 100%;
  position: fixed;
  background-color: black;
  z-index: 5;
}

.productName {
  width: 50%;
  margin: 0 auto;
  height: 250px;
  margin-top: 75px;
  /*border: 3px solid white;*/
  background-color: white;
}

.projectCell {
  height: 300px;
  /*outline: 4px solid magenta;*/
  /*background-color: #D8D8D8;*/
}

.projectCell img{
  width: 100%;
  height: 100%;
}

.projectCellButton {
  width: 100px;
  height: 40px;
  background-color: white;
  margin: 100px auto 0 auto;
}

#projectCellButtonEdit {

}

.projectCellButtonShow {
  margin-top: 80px;
}

.projectCellContent {
  display: block;
  height: 20%;
  background-color: #0B3861;
  color: white;
  font-size: 18px;
  text-align: center;
  /*outline: 2px solid green;*/
}

.projectCellContent p{
  /*margin-top: 20px;*/
}

.projectCellHoverContainer {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 2;
  font-size: 28px;
  text-align: center;
  /*outline: 3px solid red;*/
}

.projectCellImageHolder {
  width: 100%;
  height: 80%;
  display: block;
  background-color: black;
}

.projectCellInner {
  width: 98%;
  margin-left: 1%;
  margin-top: 1%;
  height: 98%;
}

.projectCellNew {
  margin-left: 1px;

  /*outline: 4px solid magenta;*/
  /*background-color: #D8D8D8;*/
}

.projectCellNewInner {
  width: 98%;
  height: 100%;
  margin-left: 1;
  background-color: black;
  color: white;
  text-align: center;
  opacity: .85;
}

.projectCellNewInner p {
  font-size: 26px;
  padding-top: 40%;
}

.projectCellTrash {
  float: right;
  font-size: 30px;
  color: white;
  margin-right: 10px;
}

.pwCheck {
  width: 40%;
  margin-left: 30%;
  margin-top: 250px;
  height: 45px;
  font-size: 30px;
  text-align: center;
}

.pwSubmit {
  height: 45px;
  margin-top: 20px;
  width: 25%;
  margin-left: 37.5%;
}

.seasonFilter {
  height: 210px;
  width: 210px;
  margin: 30px 0 0 -43px;
  position: absolute;
  display: inline-block;
  z-index: 3;
}

.seasonFilterCell {
  height: 105px;
}

.seasonFilterCell img{
  height: 100%;
  width: 100%;
  position: absolute;
}


.selectCell {
  -webkit-appearance: none;
  -moz-appearance: none;
  box-sizing: none;
  appearance: none;
  width: 100px;
  height: 100px;
  outline: 2px solid blue;
}

.signupContainer {
  position: absolute;
  width: 60%;
  height: 525px;
  background-color: gray;
  margin-left: 20%;
  margin-top: 100px;
}

.signupContent {
  display: block;
  width: 80%;
  margin-left: 10%;
  margin-top: 35px;
  font-size: 30px;
  text-align: center;
  position: relative;
  font-style: bolder;
}

.signupControls {
  display: block;
}

.signupInput {
  height: 55px;
  font-size: 28px;
  width: 70%;
  margin-left: 15%;
  margin-top: 35px;
  text-align: center;
}

.signupSubmit {
  width: 25%;
  margin-left: 37.50%;
  height: 60px;
  margin-top: 25px;
  font-size: 25px;
}

.signinContainer {
  position: absolute;
  width: 60%;
  height: 525px;
  background-color: gray;
  margin-left: 20%;
  margin-top: 100px;
}

.signinContent {
  display: block;
  width: 80%;
  margin-left: 10%;
  margin-top: 35px;
  font-size: 30px;
  text-align: center;
  position: relative;
  font-style: bolder;
}

.signinControls {
  display: block;
}

.signinInput {
  height: 55px;
  font-size: 28px;
  width: 70%;
  margin-left: 15%;
  margin-top: 35px;
  text-align: center;
}

.signinSubmit {
  width: 25%;
  margin-left: 37.50%;
  height: 60px;
  margin-top: 25px;
  font-size: 25px;
}

.singleContentHolder {
  height: 300px;
  font-size: 24px;
  width: 80%;
  margin-left: 10%;
  margin-top: 20px;
  background-color: white;
}

.singleMessageHolder {
  height: 400px;
  margin-left: 25%;
  margin-top: 50px;
  background-color: #e0ebeb;
}

.singleNameHolder {
  height: 60px;
  font-size: 38px;
  font-style: bolder;
  text-align: center;
  background-color: #e5ccff;
}

.splashBackgroundImageContainer {
  width: 100%;
  min-height: 100%;
}

.splashBackgroundImage {
  width: 100%;
  height: 450px;
  background-repeat: no-repeat;
  opacity: .75;
}

.splashBuyer {
  outline: 2px solid blue;
}

.splashBuyerHowTo {
  width: 90%;
  margin-left: 5%;
}

.splashFooter {
  height: 200px;
  background-color: orange;
}

.splashLink {
  font-size: 27px;
}

.splashLogoContainer {
  height: 100%;
  width: 40%;
  display: inline-block;
  vertical-align: baseline;
}

.splashLogoContainerImage {
  height: 100%;
}

.splashNavbar {
  position: absolute;
  z-index: 2;
  height: 110px;
  width: 100%;
}

.splashNavLinks {
  width: 59%;
  display: inline-block;
  vertical-align: baseline;
  text-align: center;
}

.splashNavLinksText{
  display: inline-block;
  margin-left: 20px;
}

.splashNavLinks button {
  margin-left: 20px;
}

.panel-product {
  -moz-transition: all .3s ease;
  -o-transition: all .3s ease;
  -webkit-transition: all .3s ease;
}
.panel-product:hover {
  box-shadow: 0px 0px 30px rgba(0, 0, 0, 0.2);
}
.panel-product .panel-heading {
  padding: 20px 10px;
}
.panel-product .panel-heading .fa {
  margin-top: 10px;
  font-size: 58px;
}
.panel-product.list-group-item {
  color: #777777;
  border-bottom: 1px solid rgba(250, 250, 250, 0.5);
}
.panel-product .list-group-item:last-child {
  border-bottom-right-radius: 0px;
  border-bottom-left-radius: 0px;
}
.panel-product .list-group-item:first-child {
  border-top-right-radius: 0px;
  border-top-left-radius: 0px;
}
.panel-product .panel-body {
  background-color: #f0f0f0;
  font-size: 40px;
  color: #777777;
  padding: 20px;
  margin: 0px;
}
.productContainer{
margin-top: 20px;
margin-bottom: 10px;
}

textarea#styled {
	width: 500px;
	height: 120px;
	border: 3px solid #cccccc;
	padding: 5px;
	font-family: Tahoma, sans-serif;
	background-image: url(bg.gif);
	background-position: bottom right;
	background-repeat: no-repeat;
}

.commentSubmitBtn .editProductSubmitBtn{
width:500px;
}

.productContainer{
  outline:2px solid yellow;
}
.productTitle{
  outline:2px solid black;
}
.productStatus{
  margin-top:-9px;
  outline:2px solid green;
}
.productThumbnailImage{
  float:left;
  outline:2px solid black;
  padding:10px 5px 10px 5px;
}

.productDescriptionTextBox{
  outline:2px solid black;
  padding:10px 5px 200px 5px;
}

.productAccessoryBox{
  outline:2px solid blue;
  padding:10px 5px 100px 5px;
}


.typeFilter {
  height: 210px;
  width: 210px;
  margin: 30px 0 0 -43px;
  position: absolute;
  display: inline-block;
  z-index: 3;
}

.typeFilterCell {
  height: 70px;
}

.typeFilterCell img{
  height: 100%;
  width: 100%;
  position: absolute;
}

#commentTextBox {
  /*position: absolute;*/
  top: 0;
  bottom: 0;
  right: 0;
  overflow-y: scroll;
  height:350px;
  outline:2px solid red;
  /*width: 25%;*/
}
