# Empty CSS file for your own CSS

.bodyview {
  height: 100%;
}

.carouselBacking {
  width: 520.833%;
  height: 400px;
  outline: 4px solid green;
}

.carouselControl {
  height: 100px;
  width: 60%;
  margin-left: 20%;
  outline: 4px solid green;
}

.carouselCount {
  width: 58%;
  display: inline-block;
  height: 50px;
  outline: 2px solid blue;
}

.carouselFourth {
  width: 19.2%;
  /*border-right: 2px solid black;*/
  background-color: blue;
  display: inline-block;
  height: 400px;
}

.carouselLeft {
  display: inline-block;
  width: 20%;
  height: 40px;
  text-align: center;
  font-size: 18px;
  color: white;
  background-color: purple;
}

.carouselNameEntry {
  position: absolute;
  width: 25%;
  margin-left: 2.5%;
  font-size: 22px;
  font-style: bold;
  margin-top: 100px;
  text-align: center;
  height: 45px;
}

.carouselRight {
  display: inline-block;
  width: 20%;
  height: 40px;
  text-align: center;
  font-size: 18px;
  color: white;
  background-color: purple;
}

.circle {
  height: 25px;
  width: 25px;
  border-radius: 50%;
  margin-left: 10px;
  border: 1px solid gray;
  display: inline-block;
}

.circleContainer {
  width: 14%;
  margin-left: 5%;
  display: inline-block;
}

.howToCell {
  min-height: 100%;
  width: 33%;
  outline: 3px solid yellow;
  display: inline-block;
  margin: 0;
}

.howToCell img{
  width: 100%;
}

.logoImage {
  height: 173px;
}

.navigationBar {
  height: 110px;
  background-color: blue;
  display: block;
}

.newprojectcontainer {
  background-color: #E0FFFF;
  height: 100%;
  width: 100%;
  display: block;
  position: absolute;
}

.newProjectView {
  width: 60%;
  /*overflow: hidden;*/
  margin-left: 20%;
  outline: 4px solid gray;
  height: 400px;
}

.productName {
  width: 50%;
  margin: 0 auto;
  height: 250px;
  margin-top: 75px;
  /*border: 3px solid white;*/
  background-color: white;
}

.splashBackgroundImageContainer {
  width: 100%;
  min-height: 100%;
}

.splashBackgroundImage {
  width: 100%;
  height: 450px;
  background-repeat: no-repeat;
  opacity: .75;
}

.splashBuyer {
  outline: 2px solid blue;
}

.splashBuyerHowTo {
  width: 90%;
  margin-left: 5%;
}

.splashFooter {
  height: 200px;
  background-color: orange;
}

.splashLink {
  font-size: 27px;
}

.splashLogoContainer {
  height: 100%;
  width: 40%;
  display: inline-block;
  vertical-align: baseline;
}

.splashLogoContainerImage {
  height: 100%;
}

.splashNavbar {
  position: absolute;
  z-index: 2;
  height: 110px;
  width: 100%;
}

.splashNavLinks {
  width: 59%;
  display: inline-block;
  vertical-align: baseline;
  text-align: center;
}

.splashNavLinksText{
  display: inline-block;
  margin-left: 20px;
}

.splashNavLinks button {
  margin-left: 20px;
}
