<link rel="stylesheet" href="/css/removePaddingBootstrap.css" media="screen" title="no title" charset="utf-8">
<link rel="stylesheet" href="/css/masterFont.css" media="screen" title="no title" charset="utf-8">
<div class="navigationBar">
  <div class="navTitle">
    HOFB
  </div>
  <div class="logoutButton">
    Logout
  </div>
</div>
<div class="messageBar">
  <p>
    Messages
  </p>
</div>
<div class="">
  <div class="col-xs-4 messageContainer"></div>
  <div class="col-xs-8 messagesSingleContainer"></div>
</div>
