
  <div class="goToBetaText">
    We're happy to see you join us! HOFB is a seamless technology for independent designers, and retailers to commercialize fashion brands. Come join us in building a beautiful experience.<br>
    #HOFBexperience
  </div>

<div class="goToLoginHolder">
  <div class="goToLoginContainer">
    <img src="img/web_logo.png" />
    <div class="goToAreyou">
      Are you an independent fashion designer or a retailer?
    </div>
    <div class="goToDesignerLogin">
      Designer
    </div>
    <div class="goToBuyerLogin">
      Retailer
    </div>
  </div>
</div>
