<div class="goToHolder">
  <div class="goToBetaText">
    We're happy to see you join us! HOFB is a seamless fashion technology platform for independent designers, and retail buyers to commercialize fashion brands. Come join us in building a beautiful experience.<br>
  </div>
  <div class="goToBetaHashtag">
    #HOFBexperience
  </div>

  <div class="goToLoginHolder">
    <div class="goToLoginContainer">
      <img src="img/web_logo_beta.png" />
      <div class="goToAreyou">
        Are you an independent fashion designer or a retail buyer?
      </div>
      <div class="goToDesignerLogin">
        Designer
      </div>
      <div class="goToBuyerLogin">
        Buyer
      </div>
    </div>
  </div>
</div>
