<link rel="stylesheet" href="/css/removePaddingBootstrap.css" media="screen" title="no title" charset="utf-8">
<link rel="stylesheet" href="/css/masterFont.css" media="screen" title="no title" charset="utf-8">
<div class="navigationBar">
  <div class="navTitle">
    HOFB -- BUYER -- datatype: <span class='dashDataType'></span>
  </div>
  <div class="logoutButton">
    Logout
  </div>
</div>
<div class='designerDashDashTitle'>Dashboard</div>
<div class="designerDashCollectionsContainer col-xs-2">
  <div class="designerDashCollections">
    <p>
      Collections
    </p>
  </div>
  <div class="designerDashCollectionDropdown" >
  </div>
</div>
<div class="designerDashContainer col-xs-10">
  <div class="designerDashToggleContainer">
    <div class="designerDashActive">
      Active
    </div>
    <div class="designerDashCurated">
      Curated
    </div>
  </div>
  <div class="designerDashSearchFilterContainer">
    <div class="designerDashFilter col-xs-12">
      <div class="designerDashColor dashFilter">Color</div>
      <div class="designerDashType dashFilter">Product Type</div>
      <div class="designerDashFabric dashFilter">Fabric</div>
      <div class="designerDashSeason dashFilter">Season</div>
    </div>
  </div>
  <div class="designerDashBottomContainer">
    <div class="designerDashListContainer col-xs-12">
      <div class="designerDashList"></div>
    </div>
  </div>
</div>
