
<input type="password" data-minlength="6" class="form-control inputOldPassword" id="inputOldPassword" placeholder="Old Password" required>

<input type="password" data-minlength="6" class="form-control inputPassword" id="inputPassword" placeholder="New Password" required>
<!-- <span style='width= 600px;'class="help-block">Minimum of 6 characters - No special characters</span> -->

<input type="password" class="form-control inputPasswordConfirm" id="inputPasswordConfirm" data-match="#inputPassword" data-match-error="Whoops, these don't match" placeholder="Confirm New Password" required>
<div class="help-block with-errors"></div>

<div class="changePassword">
  Change Your Password
</div>
