<script>
  // Google Analytics Tracking
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-72529727-1', 'auto');
  ga('send', 'pageview');

</script>
<input type="password" data-minlength="6" class="form-control inputOldPassword" id="inputOldPassword" placeholder="Old Password" required>

<input type="password" data-minlength="6" class="form-control inputPassword" id="inputPassword" placeholder="New Password" required>
<!-- <span style='width= 600px;'class="help-block">Minimum of 6 characters - No special characters</span> -->

<input type="password" class="form-control inputPasswordConfirm" id="inputPasswordConfirm" data-match="#inputPassword" data-match-error="Whoops, these don't match" placeholder="Confirm New Password" required>
<div class="help-block with-errors"></div>

<div class="changePassword">
  Change Your Password
</div>
