<h4>//build your new project</h4>
<div class="navigationBar">

</div>

<div class="newprojectcontainer">
  <div class="carouselControl">
    <h1 class='productTitle'>Create Your Product</h1>
    <div class="dropzoneTest">

    </div>

        <!--  -->
        <!-- <form class='photoForm'enctype="multipart/form-data">
          Select an image to upload:
          <input type="file" name="upl" class='uploadFile'>
          <input class="uploadFileButton" type="submit" value="Upload Image">
        </form> -->
        <!-- <img class='testImage' src="" alt="" /> -->
        <!-- <img class='testClass' src="" alt="" /> -->
        <div class="testDiv">
          <input type="file" id="i_file" value="">
          <input type="button" id="i_submit" value="Submit">
          <br>
          <img src="" width="200" style="display:none;" />
          <br>
        <div id="disp_tmp_path"></div>

        </div>
      </div>

    </div>
  </div>
</div>
