<h4>//build your new project</h4>
<div class="navigationBar">

</div>

<div class="newprojectcontainer">
  <div class="carouselControl">
    <h1 class='productTitle'>Create Your Product</h1>
    <div class="carouselControls">
      <div class="carouselLeft">
        Prev
      </div>
      <div class="carouselCount">
        <div class="circleContainer">
          <div class="circle circle0"></div>
        </div>
        <div class="circleContainer">
          <div class="circle circle1"></div>
        </div>
        <div class="circleContainer">
          <div class="circle circle2"></div>
        </div>
        <div class="circleContainer">
          <div class="circle circle3"></div>
        </div>
        <div class="circleContainer">
          <div class="circle circle4"></div>
        </div>
        <div class="circleContainer">
          <div class="circle circle5"></div>
        </div>
        <div class="circleContainer">
          <div class="circle circle6"></div>
        </div>
        <div class="circleContainer">
          <div class="circle circle7"></div>
        </div>
      </div>
      <div class="carouselRight">
        Next
      </div>
    </div>
  </div>
  <div class="newProjectView">
    <div class="carouselBacking">
      <div class="carouselFourth carouselOne">
        <div class="productName">
          <input class='carouselNameEntry' type="text" placeholder="product name">
        </div>
      </div>
      <div class="carouselFourth carouselTwo">

      </div>
      <div class="carouselFourth carouselThree">
        <select class="createProductType" name="">
          <option value="shirt" select>Shirt</option>
          <option value="hat">Hat</option>
          <option value="pants">Pants</option>
          <option value="accessories">Accessories</option>
        </select>
        <input type="text" class="createGroups" placeholder='enter groups'>
        <input type="text" class="createTags" placeholder='enter tags'>
      </div>
      <div class="carouselFourth carouselFour">
        <div class="createSeasonContainer">
          <div class="createSeason createSummer col-xs-6">
            Summer
          </div>
          <div class="createSeason createFall col-xs-6">
            Fall
          </div>
          <div class="createSeason createSpring col-xs-6">
            Spring
          </div>
          <div class="createSeason createWinter col-xs-6">
            Winter
          </div>
        </div>
      </div>
      <div class="carouselFourth carouselFive">
        <div class="createFabricContainer">
          <div class="createFabric create col-xs-4">
            Seersucker
          </div>
          <div class="createFabric create col-xs-4">
            Denim
          </div>
          <div class="createFabric create col-xs-4">
            Cotton
          </div>
          <div class="createFabric create col-xs-4">
            Nylon
          </div>
          <div class="createFabric create col-xs-4">
            Veneer
          </div>
          <div class="createFabric create col-xs-4">
            Camo
          </div>
          <div class="createFabric create col-xs-4">
            Dockers
          </div>
          <div class="createFabric create col-xs-4">
            Korean Day Bed
          </div>
          <div class="createFabric create col-xs-4">
            Leather
          </div>
        </div>
      </div>
      <div class="carouselFourth carouselSix">

      </div>
      <div class="carouselFourth carouselSeven">

      </div>
      <div class="carouselFourth carouselEight">

      </div>

    </div>
  </div>
</div>
