<h4>//build your new project</h4>
<div class="navigationBar">

</div>

<div class="newprojectcontainer">
  <div class="carouselControl">
    <h2 class='productTitle'>Create Your Product</h2>
    <div class="carouselControls">
      <div class="carouselLeft">
        Prev
      </div>
      <div class="carouselCount">
        <div class="circle circle0"></div>
        <div class="circle circle1"></div>
        <div class="circle circle2"></div>
        <div class="circle circle3"></div>
        <div class="circle circle4"></div>
      </div>
      <div class="carouselRight">
        Prev
      </div>
    </div>
  </div>
  <div class="newProjectView">
    <div class="carouselBacking">
      <div class="carouselFourth carouselOne">
        <div class="productName">
          <input class='carouselNameEntry' type="text" placeholder="product name">
        </div>
      </div>
      <div class="carouselFourth carouselTwo">

      </div>
      <div class="carouselFourth carouselThree">

      </div>
      <div class="carouselFourth carouselFour">

      </div>
      <div class="carouselFourth carouselFive">

      </div>

    </div>
  </div>
</div>
