<h1>Dashboard for Designers designerDash</h1>
<div class="designerDashContainer">
  <div class="designerDashSearchFilterContainer">
    <div class="designerDashFilter">
      <h2>Filters will Go here</h2>
    </div>
    <div class="designerDashSearch">
      <input type="text" class="designerDashSearchInput" placeholder="Search">
    </div>
  </div>
  <div class="designerDashToggleContainer">
    <div class="designerDashActive">
      Active
    </div>
    <div class="designerDashCurated">
      Curated
    </div>
  </div>
  <div class="designerDashListContainer">
    listing all projects

  </div>
</div>
