<h1>Dashboard for Designers designerDash</h1>
<div class="designerDashContainer">
  <div class="designerDashSearchFilterContainer">
    <div class="designerDashFilter col-xs-9">
      <h4>Filters will Go here</h4>
      <select class="designerDashProductType" placeholder='select color'>
        <option value="">select a color</option>
        <option value="shirt">shirt</option>
        <option value="hat">hat</option>
        <option value="pants">pants</option>
      </select>
      <select class="designerDashColor" placeholder='select color'>
        <option value="">select a color</option>
        <option value="green">Green</option>
        <option value="blue">Blue</option>
        <option value="black">Black</option>
        <option value="pink">Pink</option>
        <option value="magenta">Magenta</option>
      </select>
    </div>
    <div class="designerDashSearch col-xs-3">
      <input type="text" class="designerDashSearchInput" placeholder="Search">
    </div>
  </div>
  <div class="designerDashToggleContainer">
    <div class="designerDashActive">
      Active
    </div>
    <div class="designerDashCurated">
      Curated
    </div>
  </div>
  <div class="designerDashListContainer">
    <p class="sectionTitle">listing all projects</p>
    <div class="designerDashList">

    </div>
  </div>
</div>
