<link rel="stylesheet" href="/css/removePaddingBootstrap.css" media="screen" title="no title" charset="utf-8">
<link rel="stylesheet" href="/css/masterFont.css" media="screen" title="no title" charset="utf-8">
<div class="designerDashboardPage">
<div class="navigationBar">
  <div class="navTitle">
    HOFB
    <!-- DESIGNER  datatype: <span class='dashDataType'></span> -->
  </div>
  <div class="logoutButton">
    Logout
  </div>
</div>
<div class='designerDashDashTitle'>Dashboard</div>
</br>

<div class="designerDashCollectionsContainer col-xs-2 center-text">
  <div class="designerDashCollections">
    <p>
      Collections
    </p>
  </div>
  <div class="designerDashCollectionDropdown" >
  </div>
</div>
<div class="designerDashContainer col-xs-10">
  <div class="designerDashToggleContainer">
    <div class="designerDashActive">
      <i class="fa fa-square" id="activeTabIconSquare"></i>
      ACTIVE
    </div>
    <div class="designerDashSubmitted">
      <i class="fa fa-square" id="activeTabIconSquare"></i>
      SUBMITTED
    </div>
    <div class="designerDashCurated">
      <i class="fa fa-square" id="curatedTabIconSquare"></i>
      CURATED
    </div>
  </div>
  <div class="designerDashSearchFilterContainer">
    <div class="designerDashFilter col-xs-12">
      <div class="designerDashColor dashFilter">color<span class="glyphicon glyphicon-menu-down designerDashboardGlyphiconUp"></span></div>
      <div class="designerDashFabric dashFilter">fabric<span class="glyphicon glyphicon-menu-down designerDashboardGlyphiconUp"></span></div>
      <div class="designerDashSeason dashFilter">accessories<span class="glyphicon glyphicon-menu-down designerDashboardGlyphiconUp"></span></div>
    </div>
  </div>
  <div class="designerDashBottomContainer">
    <div class="designerDashListContainer col-xs-12">
      <div class="designerDashList"></div>
    </div>
  </div>

</div>
</div>
