<div class="cover-container">

  <div class="masthead clearfix">
    <div class="inner">
      <h3 class="masthead-brand">HOFB</h3>
    </div>
  </div>

  <div class="inner cover">
    <h1 class="cover-heading">Be the first to gain access to HOFB</h1>
    <p class="lead">A FREE new platform that manufactures and distributes design styles of our independent and emerging fashion designers discovered by partnered buyers and mass retailers globally.</p>

      <div class="center-form">
      <form>
        <div class="form-group">
          <input type="email" class="emailInput form-control" id="" placeholder="Email">
        </div>
        <div class="form-group">
          <input class="locationInput form-control" placeholder="Zip">
        </div>
        <button class="btn btn-lg btn-primary btn-lg collectEmail">Submit</button>
      </form>
      </div>


  </div>

  <div class="mastfoot">
    <div class="inner">
      <p>Copyright HOFB, 2015.</p>
    </div>
  </div>

</div>
