<link rel="stylesheet" href="/css/removePaddingBootstrap.css" media="screen" title="no title" charset="utf-8">
<div class="navigationBar">
  HOFB
</div>
<div class="newProductSubmitBar">
<div class="newProductHeadline">
  Create Project
</div>
<div class="newProductButtonHolder">
  <button type="button" class='new_product_save'>Save</button>
  <button type="button" class='new_product_send'>Send</button>
</div>
</div>
<div class="newProductHolder">
  <div class="newProductLeftColumn col-xs-4">
    <div class="newProductTitleHolder">
      <input type="text" placeholder="Product Name" class='newProductTitle'>
    </div>
    <div class="newProductSwatchHolder">
      <div class="newProductSwatchTabs">
        <div class="newProductTab circle0 col-xs-2" id=' circle0'>
          Season
        </div>
        <div class="newProductTab circle1 col-xs-2" id=' circle1'>
          Fabric
        </div>
        <div class="newProductTab circle2 col-xs-2" id=' circle2'>
          Stitch
        </div>
        <div class="newProductTab circle3 col-xs-2" id=' circle3'>
          Color
        </div>
        <div class="newProductTab circle4 col-xs-2" id='circle4'>
          Buttons
        </div>
      </div>
      <div class="carouselBacking">
        <div class="carouselFourth carouselOne">
          <div class="createSeasonContainer">
            <div class="createSeasonCellHolder col-xs-6">
              <div class="createSeason createSummer ">
                Summer
              </div>
            </div>
            <div class="createSeasonCellHolder col-xs-6">
              <div class="createSeason createFall col-xs-6">
                Fall
              </div>
            </div>
            <div class="createSeasonCellHolder col-xs-6">
              <div class="createSeason createSpring">
                Spring
              </div>
            </div>
            <div class="createSeasonCellHolder col-xs-6">
              <div class="createSeason createWinter">
                Winter
              </div>
            </div>
          </div>
        </div>
        <div class="carouselFourth carouselTwo">
          <div class="createFabricContainer">
            <div class="createFabricCellHolder col-xs-4">
              <div class="createFabric createSeersucker ">
                Seersucker
              </div>
            </div>
            <div class="createFabricCellHolder col-xs-4">
              <div class="createFabric createPleather col-xs-4">
                Pleather
              </div>
            </div>
            <div class="createFabricCellHolder col-xs-4">
              <div class="createFabric createDockers col-xs-4">
                Dockers
              </div>
            </div>
            <div class="createFabricCellHolder col-xs-4">
              <div class="createFabric createCamo">
                Camo
              </div>
            </div>
            <div class="createFabricCellHolder col-xs-4">
              <div class="createFabric createVeneer">
                Veneer
              </div>
            </div>
            <div class="createFabricCellHolder col-xs-4">
              <div class="createFabric createNylon">
                Nylon
              </div>
            </div>
            <div class="createFabricCellHolder col-xs-4">
              <div class="createFabric createLeather col-xs-4">
                Leather
              </div>
            </div>
            <div class="createFabricCellHolder col-xs-4">
              <div class="createFabric createCotton">
                Cotton
              </div>
            </div>
            <div class="createFabricCellHolder col-xs-4">
              <div class="createFabric createDenim">
                Denim
              </div>
            </div>
          </div>
        </div>
        <div class="carouselFourth carouselThree">
          <div class="createStitchContainer">
            <div class="createStitchCellHolder col-xs-6">
              <div class="createStitch createStraightStitch">
                Straight
              </div>
            </div>
            <div class="createStitchCellHolder col-xs-6">
              <div class="createStitch createRightStitch">
                Right Stitch
              </div>
            </div>
            <div class="createStitchCellHolder col-xs-6">
              <div class="createStitch createLeftStitch">
                Left Stitch
              </div>
            </div>
            <div class="createStitchCellHolder col-xs-6">
              <div class="createStitch createDoubleStitch">
                Double Stitch
              </div>
            </div>
          </div>
        </div>
        <div class="carouselFourth carouselFour">
          <div class="createColorContainer">
            <div class="createColorCellHolder col-xs-4">
              <div class="createColor createRed">
                Red
              </div>
            </div>
            <div class="createColorCellHolder col-xs-4">
              <div class="createColor createWhite">
                White
              </div>
            </div>
            <div class="createColorCellHolder col-xs-4">
              <div class="createColor createBlack">
                Black
              </div>
            </div>
            <div class="createColorCellHolder col-xs-4">
              <div class="createColor createOrange">
                Orange
              </div>
            </div>
            <div class="createColorCellHolder col-xs-4">
              <div class="createColor createYellow">
                Yellow
              </div>
            </div>
            <div class="createColorCellHolder col-xs-4">
              <div class="createColor createMagenta">
                Magenta
              </div>
            </div>
            <div class="createColorCellHolder col-xs-4">
              <div class="createColor createAqua">
                Aqua
              </div>
            </div>
            <div class="createColorCellHolder col-xs-4">
              <div class="createColor createGreen">
                Green
              </div>
            </div>
            <div class="createColorCellHolder col-xs-4">
              <div class="createColor createBlue">
                Blue
              </div>
            </div>
          </div>
        </div>
        <div class="carouselFourth carouselFive">
          <div class="createButtonContainer">
            <div class="createButtonCellHolder col-xs-6">
              <div class="createButton createCrossButton">
                Cross Button
              </div>
            </div>
            <div class="createButtonCellHolder col-xs-6">
              <div class="createButton createFlatButton">
                Flat Button
              </div>
            </div>
            <div class="createButtonCellHolder col-xs-6">
              <div class="createButton createGildedButton">
                Gilded Button
              </div>
            </div>
            <div class="createButtonCellHolder col-xs-6">
              <div class="createButton createStraightButton">
                Straight Button
              </div>
            </div>
          </div>
        </div>
        <div class="carouselFourth carouselSix">

        </div>
        <div class="carouselFourth carouselSeven">

        </div>
        <div class="carouselFourth carouselEight">
<!--
          <div class="createSubmit">
            Submit This Project
          </div> -->
        </div>
      </div>
    </div>
  </div>
  <div class="newProductMiddleColumn col-xs-5">
    <div class="newProductImageHolder">
      <div class="newProductImageFrame">
        <div class="inputFileHolder">
          <input type="file" id="i_file" name="files">
        </div>
        <img class='newProductCurrentImage' src="http://austinfusionmagazine.com/wp-content/uploads/2012/10/Fashion-Shoot-With-David-Heisler-1.jpeg" alt="" />
      </div>
      <div class="newProductMiniImagesHolder">
        <div class="newProductMiniImage col-xs-3">
          <img src="" class='newProductMiniImageImage' alt="" id='newProductMiniImage0'/>
          <div class="newProductDeleteMini">X</div>
        </div>
        <div class="newProductMiniImage col-xs-3">
          <img src="" class='newProductMiniImageImage' alt="" id='newProductMiniImage1'/>
          <div class="newProductDeleteMini">X</div>
        </div>
        <div class="newProductMiniImage col-xs-3">
          <img src="" class='newProductMiniImageImage' alt="" id='newProductMiniImage2'/>
          <div class="newProductDeleteMini">X</div>
        </div>
        <div class="newProductMiniImage col-xs-3">
          <img src="" class='newProductMiniImageImage' alt="" id='newProductMiniImage3'/>
          <div class="newProductDeleteMini">X</div>
        </div>
      </div>
    </div>
  </div>
  <div class="newProductRightColumn col-xs-3">
    <div class="newProductDetailsHolder">
      <div class="newProductDescriptionHolder">
        <h2>Details</h2>
        <h4>Description</h4>
        <textarea class='newProductDescription' rows="3"></textarea>
      </div>
      <div class="newProductTypeHolder">
        <h4>Product Type</h4>
        <select class="newProductTypeDropdown newProductType" name="">
          <option value="shirt">shirt</option>
          <option value="pants">pants</option>
          <option value="hat">hat</option>
        </select>
        <h4>Vendor</h4>
        <select class="newProductTypeDropdown newProductVendor" name="">
          <option value="hofb">HOFB</option>
          <option value="client">I'll be my own vendor</option>
        </select>
      </div>
      <div class="newProductCollectionsHolder">
        <h4>Collections</h4>
        <input type="text" class='newProductCollectionsInput' placeholder='Collection Name'>
        <p>
          Add this product to a collections, so it's easy to find later.
        </p>
      </div>
      <div class="newProductTagsHolder">
        <h4>Tags</h4>
        <input type="text" class="newProductTagsInput" placeholder='enter tags'>
      </div>
    </div>
  </div>
</div>
