<link rel="stylesheet" href="/css/removePaddingBootstrap.css" media="screen" title="no title" charset="utf-8">
<div class="navigationBar">
  <div class="navTitle">
    HOFB
  </div>
  <div class="logoutButton">
    Logout
  </div>
</div>
<div class="newProductSubmitBar">
<div class="newProductHeadline">
  Create Project
</div>
<div class="newProductButtonHolder">
  <div class='new_product_save'>Save</div>
  <div class='new_product_send'>Curate</div>
</div>
</div>
<div class="newProductHolder">
  <div class="newProductLeftColumn col-xs-4">
    <div class="newProductTitleHolder">
      <input type="text" placeholder="Product Name" class='newProductTitle'>
    </div>
    <div class="newProductSwatchHolder">
      <div class="newProductSwatchTabs">
        <div class="newProductTab circle0 col-xs-3" id=' circle0'>
          Color
        </div>
        <div class="newProductTab circle1 col-xs-3" id=' circle1'>
          Fabric
        </div>
        <div class="newProductTab circle3 col-xs-3" id=' circle3'>
          Accessories
        </div>
      </div>
      <div class="carouselBacking">
        <div class="carouselFourth carouselOne">
          <div class="createColorContainer">
          </div>
        </div>
        <div class="carouselFourth carouselTwo">
          <div class="createFabricContainer" >
          </div>
        </div>
        <!-- ////// below needs to be swapped for new version -->
        <div class="carouselFourth carouselThree">
          <div class="createStitchContainer">
          </div>
        </div>
        <!-- ////// below needs to be swapped for new version -->
        <div class="carouselFourth carouselFour">
          <div class="createSeasonContainer">
            <div class="createSeasonCellHolder col-xs-6">
              <div class="createSeason createSummer ">
                Summer
              </div>
            </div>
            <div class="createSeasonCellHolder col-xs-6">
              <div class="createSeason createFall col-xs-6">
                Fall
              </div>
            </div>
            <div class="createSeasonCellHolder col-xs-6">
              <div class="createSeason createSpring">
                Spring
              </div>
            </div>
            <div class="createSeasonCellHolder col-xs-6">
              <div class="createSeason createWinter">
                Winter
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="newProductMiddleColumn col-xs-5">
    <div class="newProductImageHolder">
      <div class="newProductImageFrame">
        <div class="inputFileHolder">
          <span class='fileUploadWrapper glyphicon glyphicon-upload'>
            <input type="file" id="i_file" name="files">
          </span>
          <div class="newProductDeleteMini">X</div>
        </div>
        <img class='newProductCurrentImage' src="" alt="" />
      </div>
      <div class="newProductMiniImagesHolder">
        <div class="newProductMiniImage">
          <img src="" class='newProductMiniImageImage' alt="" id='newProductMiniImage0'/>
          <!-- <div class="newProductDeleteMini">X</div> -->
        </div>
        <div class="newProductMiniImage">
          <img src="" class='newProductMiniImageImage' alt="" id='newProductMiniImage1'/>
          <!-- <div class="newProductDeleteMini">X</div> -->
        </div>
        <div class="newProductMiniImage">
          <img src="" class='newProductMiniImageImage' alt="" id='newProductMiniImage2'/>
          <!-- <div class="newProductDeleteMini">X</div> -->
        </div>
        <div class="newProductMiniImage">
          <img src="" class='newProductMiniImageImage' alt="" id='newProductMiniImage3'/>
          <!-- <div class="newProductDeleteMini">X</div> -->
        </div>
        <div class="newProductMiniImage">
          <img src="" class='newProductMiniImageImage' alt="" id='newProductMiniImage4'/>
          <!-- <div class="newProductDeleteMini">X</div> -->
        </div>
        <div class="newProductMiniImage">
          <img src="" class='newProductMiniImageImage' alt="" id='newProductMiniImage5'/>
          <!-- <div class="newProductDeleteMini">X</div> -->
        </div>
        <div class="newProductMiniImage">
          <img src="" class='newProductMiniImageImage' alt="" id='newProductMiniImage6'/>
          <!-- <div class="newProductDeleteMini">X</div> -->
        </div>
        <div class="newProductMiniImage">
          <img src="" class='newProductMiniImageImage' alt="" id='newProductMiniImage7'/>
          <!-- <div class="newProductDeleteMini">X</div> -->
        </div>
      </div>
      <div class="newProductScrollImagesRight">
        <span class='glyphicon glyphicon-triangle-right'>
        </span>
      </div>
      <div class="newProductScrollImagesLeft">
        <span class='glyphicon glyphicon-triangle-left'>
        </span>
      </div>
    </div>
  </div>
  <div class="newProductRightColumn col-xs-3">
    <div class="newProductDetailsHolder">
      <div class="newProductDescriptionHolder">
        <h2>Details</h2>
        <h4>Description</h4>
        <textarea class='newProductDescription' rows="3"></textarea>
      </div>
      <div class="newProductTypeHolder">
        <h4>Vendor</h4>
        <select class="newProductTypeDropdown newProductVendor" name="">
          <option value="hofb">HOFB</option>
          <option value="client">I'll be my own vendor</option>
        </select>
      </div>
      <div class="newProductCollectionsHolder">
        <h4>Collections</h4>
        <input type="text" class='newProductCollectionsInput' placeholder='Collection Name'>
        <p>
          Add this product to a collections, so it's easy to find later.
        </p>
      </div>
      <div class="newProductTagsHolder">
        <h4>Tags</h4>
        <input type="text" class="newProductTagsInput" placeholder='enter tags'>
      </div>
    </div>
  </div>
</div>
</div>
