Create a New Project
<div class="navigationBar">

</div>
<div class="newProductHolder">
  <div class="newProductLeftColumn col-xs-4">
    <div class="newProductTitleHolder">
      <input type="text" placeholder="Product Name" class='newProductTitle'>
    </div>
    <div class="newProductSwatchHolder">
      <div class="newProductSwatchTabs">
        <div class="newProductTab circle0 col-xs-2" id=' circle0'>
          Color
        </div>
        <div class="newProductTab circle1 col-xs-2" id=' circle1'>
          Fabric
        </div>
        <div class="newProductTab circle2 col-xs-2" id=' circle2'>
          Button
        </div>
        <div class="newProductTab circle3 col-xs-2" id=' circle3'>
          Stitch
        </div>
        <div class="newProductTab circle4 col-xs-2" id='circle4'>
          Season
        </div>
      </div>
      <div class="carouselBacking">
        <div class="carouselFourth carouselOne">
          <div class="createSeasonContainer">
            <div class="createSeason createSummer col-xs-6">
              Summer
            </div>
            <div class="createSeason createFall col-xs-6">
              Fall
            </div>
            <div class="createSeason createSpring col-xs-6">
              Spring
            </div>
            <div class="createSeason createWinter col-xs-6">
              Winter
            </div>
          </div>
        </div>
        <div class="carouselFourth carouselTwo">
          <div class="createFabricContainer">
            <div class="createFabric createSeersucker col-xs-4">
              Seersucker
            </div>
            <div class="createFabric createDenim col-xs-4">
              Denim
            </div>
            <div class="createFabric createCotton col-xs-4">
              Cotton
            </div>
            <div class="createFabric createNylon col-xs-4">
              Nylon
            </div>
            <div class="createFabric createVeneer col-xs-4">
              Veneer
            </div>
            <div class="createFabric createCamo col-xs-4">
              Camo
            </div>
            <div class="createFabric createDockers col-xs-4">
              Dockers
            </div>
            <div class="createFabric createPleather col-xs-4">
              Pleather
            </div>
            <div class="createFabric createLeather col-xs-4">
              Leather
            </div>
          </div>
        </div>
        <div class="carouselFourth carouselThree">
          <div class="createStitchContainer">
            <div class="createStitch createStraightStitch col-xs-6">
              Straight
            </div>
            <div class="createStitch createDoubleStitch col-xs-6">
              Double Stitch
            </div>
            <div class="createStitch createLeftStitch col-xs-6">
              Left Stitch
            </div>
            <div class="createStitch createRightStitch col-xs-6">
              Right Stitch
            </div>
          </div>
          <!-- <select class="createProductType" name="">
            <option value="shirt" select>Shirt</option>
            <option value="hat">Hat</option>
            <option value="pants">Pants</option>
            <option value="accessories">Accessories</option>
          </select>
          <select class="createVendor" name="">
            <option value="yes" select>Yes</option>
            <option value="no">No</option>
          </select>
          <input type="text" class="createGroups" placeholder='enter groups'>
          <input type="text" class="createTags" placeholder='enter tags'> -->
        </div>
        <div class="carouselFourth carouselFour">
          <div class="createColorContainer">
            <div class="createColor createRed col-xs-4">
              Red
            </div>
            <div class="createColor createBlue col-xs-4">
              Blue
            </div>
            <div class="createColor createGreen col-xs-4">
              Green
            </div>
            <div class="createColor createAqua col-xs-4">
              Aqua
            </div>
            <div class="createColor createMagenta col-xs-4">
              Magenta
            </div>
            <div class="createColor createYellow col-xs-4">
              Yellow
            </div>
            <div class="createColor createOrange col-xs-4">
              Orange
            </div>
            <div class="createColor createBlack col-xs-4">
              Black
            </div>
            <div class="createColor createWhite col-xs-4">
              White
            </div>
          </div>
        </div>
        <div class="carouselFourth carouselFive">
          <div class="createButtonContainer">
            <div class="createButton createCrossButton col-xs-6">
              Cross Button
            </div>
            <div class="createButton createStraightButton col-xs-6">
              Straight Button
            </div>
            <div class="createButton createGildedButton col-xs-6">
              Gilded Button
            </div>
            <div class="createButton createFlatButton col-xs-6">
              Flat Button
            </div>
          </div>
        </div>
        <div class="carouselFourth carouselSix">

        </div>
        <div class="carouselFourth carouselSeven">

        </div>
        <div class="carouselFourth carouselEight">
<!--
          <div class="createSubmit">
            Submit This Project
          </div> -->
        </div>
      </div>
    </div>
  </div>
  <div class="newProductMiddleColumn col-xs-5">
    Center/Image
  </div>
  <div class="newProductRightColumn col-xs-3">
    Right
  </div>
</div>
