<div class="purchaseContainer">
  <div class="purchaseHolder">
    <div class="purchaseCloseModal">
      X
    </div>
    <div class="purchaseStatistics">
      <div class="col-xs-3 purchaseStat">
        <p>
          Total
        </p>
        <p class='purchaseStatTotal'>
          xxxxxxxxx
        </p>
      </div>
      <div class="col-xs-3 purchaseStat">
        <p>
          Order Total
        </p>
        <p>
          $30,000
        </p>
      </div>
      <div class="col-xs-3 purchaseStat">
        <p>
          Price per Item
        </p>
        <p>
          $40/item
        </p>
      </div>
      <div class="col-xs-3 purchaseStat">
        <p>
          Turnaround
        </p>
        <p>
          20 days
        </p>
      </div>
    </div>
    <p>
      1) Pick your Total:
      (slide slider below)
    </p>
    <div class="purchaseTotalSliderContainer">
      <span class='purchaseTotalSliderText col-xs-1'>Total: </span>
      <div class='purchaseTotalSlider col-xs-11' id="slider"></div>
      for larger orders, click here
    </div>
    <div class="purchaseColorsContainer">
      <p>
        2) Choose Yoru Color Options
      </p>
      <p>
        Sizing charts are available for download
      </p>
      <div class="purchaseColorRow"></div>
    </div>
    <div class="purchaseSizesContainer">
      <div class="row">
        <div class="col-xs-8">
          <p>
            3) Choose Your Sizing for Each Color
          </p>
          <p>
            sizing charts are available for download here
          </p>
        </div>
        <div class="col-xs-4">
          <span class='purchaseTotalRemaining'></span>
          <span>Items Remaining</span>
        </div>
      </div>
      <div class="purchaseSizeSliders">
        <div class="purchaseSizeSliderHolder row">
          <div class="purchaseSizeName col-xs-2">
            <p>
              Extra Small:
            </p>
          </div>
          <div class="xsSlider purchaseSizeSlider col-xs-9"></div>
          <div class="col-xs-1">0</div>
        </div>
        <div class="purchaseSizeSliderHolder row">
          <div class="purchaseSizeName col-xs-2">
            <p>
              Small:
            </p>
          </div>
          <div class="smSlider purchaseSizeSlider col-xs-9"></div>
          <div class="col-xs-1">0</div>
        </div>
        <div class="purchaseSizeSliderHolder row">
          <div class="purchaseSizeName col-xs-2">
            <p>
              Medium:
            </p>
          </div>
          <div class="xsSlider purchaseSizeSlider col-xs-9"></div>
          <div class="col-md-1">0</div>
        </div>
        <div class="purchaseSizeSliderHolder row">
          <div class="purchaseSizeName col-xs-2">
            <p>
              Large:
            </p>
          </div>
          <div class="xsSlider purchaseSizeSlider col-xs-9"></div>
          <div class="col-lg-1">0</div>
        </div>
        <div class="purchaseSizeSliderHolder row">
          <div class="purchaseSizeName col-xs-2">
            <p>
              Extra Large:
            </p>
          </div>
          <div class="xsSlider purchaseSizeSlider col-xs-9"></div>
          <div class="col-xl-1">0</div>
        </div>
      </div>
    </div>
  </div>
</div>
