<div class="purchaseContainer">
  <div class="purchaseHolder">
    <div class="purchaseCloseModal">
      X
    </div>
    <div class="purchaseStatistics">
      <div class="col-xs-3 purchaseStat">
        <p>
          Total
        </p>
        <p class='purchaseStatTotal'>
          xxxxxxxxx
        </p>
      </div>
      <div class="col-xs-3 purchaseStat">
        <p>
          Order Total
        </p>
        <p>
          $30,000
        </p>
      </div>
      <div class="col-xs-3 purchaseStat">
        <p>
          Price per Item
        </p>
        <p>
          $40/item
        </p>
      </div>
      <div class="col-xs-3 purchaseStat">
        <p>
          Turnaround
        </p>
        <p>
          20 days
        </p>
      </div>
    </div>
    <p>
      1) Pick your Total:
      (slide slider below)
    </p>
    <div class="purchaseTotalSliderContainer">
      <span class='purchaseTotalSliderText col-xs-1'>Total: </span>
      <div class='purchaseTotalSlider col-xs-11' id="slider"></div>
      for larger orders, click here
    </div>
    <div class="purchaseColorsContainer">
      <p>
        2) Choose Yoru Color Options
      </p>
      <p>
        Sizing charts are available for download
      </p>
      <div class="purchaseColorRow"></div>
    </div>
    <div class="purchaseSizesContainer">
      <div class="col-xs-8">
        <p>
          3) Choose Your Sizing for Each Color
        </p>
        <p>
          sizing charts are available for download here
        </p>
      </div>
      <div class="col-xs-4">
        <span class='purchaseTotalRemaining'></span>
        <span>Items Remaining</span>
      </div>
      <div class="purchaseSizeSliderHolder">
        <span class='col-xs-1'>Total</span>
        <span class="xsSlider purchaseSizeSlider col-xs-10"></span>
        <span class='col-xs-1'>0</span>
      </div>
      <div class="purchaseSizeSliderHolder">
        <span class='col-xs-1'>Total</span>
        <span class="smSlider purchaseSizeSlider col-xs-10"></span>
        <span class='col-xs-1'>0</span>
      </div>
      <div class="purchaseSizeSliderHolder">
        <span class='col-xs-1'>Total</span>
        <span class="mdSlider purchaseSizeSlider col-xs-10"></span>
        <span class='col-xs-1'>0</span>
      </div>
      <div class="purchaseSizeSliderHolder">
        <span class='col-xs-1'>Total</span>
        <span class="lgSlider purchaseSizeSlider col-xs-10"></span>
        <span class='col-xs-1'>0</span>
      </div>
      <div class="purchaseSizeSliderHolder">
        <span class='col-xs-1'>Total</span>
        <span class="xlSlider purchaseSizeSlider col-xs-10"></span>
        <span class='col-xs-1'>0</span>
      </div>
    </div>
  </div>
</div>
