<div class="invisModal">
  <div class="allSignsContainer">
    <div class="signinContainer">
      <div class="signinWelcome">
        Welcome to HOFB
      </div>
      <div class="signinDescription">
        Here we will be building your project. It's important to give us as much details as possible so that we can show our buyers exactly what they are getting.
        <span class='signinDescriptionBreak'></span>
      </div>
      <div class="signinInputs">
        <div class='signinReturning'>Returning Account</div>
        <input type="text" placeholder="Email" class='signinIn signinEmail'>
        <input type="text" placeholder="Password" class='signinIn signinPassword'>
      </div>
      <div class="signinSend">
        Log in
      </div>
    </div>
    <div class="signupContainer">
      <div class="signupControls">
        <div class='signupCreateTitle'>Create a New Account</div>
        <input type="text" class="signupLastName signupInput" placeholder="Last Name">
        <input type="text" class="signupFirstName signupInput" placeholder="First Name">
        <input type="text" class="signupEmail signupInput" placeholder="Email">
        <input type="text" class="signupPassword signupInput" placeholder="Password">
        <input type="text" class="signupPasswordRepeat signupInput" placeholder="Repeat Password">
        <div class="signupCheckHolder">
          <input type="checkbox" class='signupCheck'>
          <span class='signinReturning'>I Agree to HOFB's Terms of Services</span>
        </div>
        <div class="signupSubmit">
          Log in
        </div>
      </div>
    </div>
  </div>
</div>
