<div class="signupContainer">
  <div class="signupContent">
    Signup to become a <span class='signupUserType'></span> today for free, with House of Fashion Brands
  </div>
  <div class="signupControls">
    <input type="text" class="signupEmail signupInput" placeholder="Email">
    <input type="text" class="signupPassword signupInput" placeholder="Password">
    <input type="text" class="signupPasswordRepeat signupInput" placeholder="Repeat Password">
    <input type="button" class="signupSubmit" value="Signup Now">
  </div>
</div>
