<link rel="stylesheet" href="/css/removePaddingBootstrap.css" media="screen" title="no title" charset="utf-8">
<!-- Navigation Bar -->
<div class="navigationBar">
  <div class="navTitle">
    <img class='navbarLogoImg' src='/img/web_logo.png'/>
  </div>
  <div class='navTitleRightLine'></div>
  <div class="dropdown">
    <button  class="dropbtn">Dropdown</button>
    <div id="myDropdown" class="dropdown-content">
      <a class="logoutButton">
        Logout
      </a>
    </div>
  </div>
  <div class="fa fa-caret-down" id='navBarTriangleDown'></div>
  <div class="fa fa-circle" id='navBarCircleIcon'></div>
  <div class="fa fa-envelope" id='navBarEnvelopeIcon'></div>
</div>
<!-- end nav bar -->
<div class="singleMessageContainer">
  <div class="singleMessageHolder col-xs-6">
    <div class="singleNameHolder">
      {{message.sender}}
    </div>
    <div class="singleContentHolder">
      {{message.commentText}}
    </div>
  </div>
</div>
