<link rel="stylesheet" href="/css/removePaddingBootstrap.css" media="screen" title="no title" charset="utf-8">
<div class="navigationBar">
  <div class="navTitle">
    HOFB
    <div class='navTitleUnderline'></div>
  </div>
  <div class='navTitleRightLine'></div>


  <!-- <div class="dropdown">
<button  class="dropbtn">Dropdown</button>
  <div id="myDropdown" class="dropdown-content">
    <a href="#home">Home</a>
    <a href="#about">About</a>
    <a href="#contact">Contact</a>
  </div>
</div> -->


  <div class="fa fa-caret-down" id='navBarTriangleDown'></div>
  <div class="fa fa-circle" id='navBarCircleIcon'></div>
  <div class="glyphicon glyphicon-envelope" id='navBarEnvelopeIcon'></div>

  <div class="logoutButton">
    Logout
  </div>
</div>
<div class="singleMessageContainer">
  <div class="singleMessageHolder col-xs-6">
    <div class="singleNameHolder">
      {{message.sender}}
    </div>
    <div class="singleContentHolder">
      {{message.commentText}}
    </div>
  </div>
</div>
