<!-- Navigation Bar -->
<div class="navigationBar">
  <div class="navTitle">
    HOFB
    <div class='navTitleUnderline'></div>
  </div>
  <div class='navTitleRightLine'></div>
  <div class="dropdown">
    <button  class="dropbtn">Dropdown</button>
    <div id="myDropdown" class="dropdown-content">
      <a class="logoutButton">
        Logout
      </a>
    </div>
  </div>
  <div class="fa fa-caret-down" id='navBarTriangleDown'></div>
  <div class="fa fa-circle" id='navBarCircleIcon'></div>
  <div class="fa fa-envelope" id='navBarEnvelopeIcon'></div>
</div>
<!-- end nav bar -->
<!-- Start of settings bar, below nav bar -->
<div class="userProfileSettingsBar">
<h1 class='userProfileTitleBar '>Settings</h1>
</div>
<!-- end of settings bar -->
<!-- start of user profile  -->
<div class="container userProfileContainer">
  <h2 class='userProfileTitle'>Profile</h2>
  <div class='userProfileFormDataContainer'>
  <form class="form-horizontal userProfileFormData" role="form">
    <div class="form-group">
      <label class="control-label col-sm-2 userProfileFormTextTitle" >Username</label>
      <div class="col-sm-6">
        <h4 id='userProfileUsernameTitle'>{{userProfile.user.data.username}}</h4>
      </div>
    </div>
    <div class="form-group">
      <label class="control-label col-sm-2 userProfileFormTextTitle">Email</label>
      <div class="col-sm-6">
        <input type="email" class="form-control userProfileFormFields" id="userProfileEmail" value="{{userProfile.user.data.email}}">
      </div>
    </div>

    <div class="form-group">
      <label class="control-label col-sm-2 userProfileFormTextTitle">First Name</label>
      <div class="col-sm-6">
        <input class="form-control userProfileFormFields" id="userProfileFirstName" value="{{userProfile.user.data.firstname}}">
      </div>
    </div>

    <div class="form-group">
      <label class="control-label col-sm-2 userProfileFormTextTitle" >Last Name</label>
      <div class="col-sm-6">
        <input class="form-control userProfileFormFields" id="userProfileLastName" value="{{userProfile.user.data.lastname}}">
      </div>
    </div>

    <div class="form-group">
      <label class="control-label col-sm-2 userProfileFormTextTitle">Location</label>
      <div class="col-sm-6">
        <input class="form-control userProfileFormFields" id="userProfileLocation" value="{{userProfile.user.data.location}}">
      </div>
    </div>

    <div class="form-group">
      <label class="control-label col-sm-2 userProfileFormTextTitle">Bio</label>
      <div class="col-sm-6">
        <textarea rows="3" class="form-control userProfileFormFields" id="userProfileBio" value="{{userProfile.user.data.bio}}"></textarea>
      </div>

    </div>



    <div class="form-group">
      <div class="col-sm-offset-2 col-sm-6">
        <button type="submit" class="btn btn-default userProfileSubmitBtn">UPDATE</button>
      </div>
    </div>
  </form>
  <div class="column-sm-2">
  <div class="userProfileImage">
    <input style='display:none;' type="file" class="userProfileImageFileUpload" id='userProfileImageFileUpload'><button onclick="document.getElementById('userProfileImageFileUpload').click();" src="http://vignette1.wikia.nocookie.net/vsbattles/images/a/a3/Black-windows_542931.jpg/revision/latest?cb=20150317090032" class="img-circle userProfileImageRound" >
</input>

  </div>
</div>
</div>
  <h2 class='userProfileSecurityTitle'>Security</h2>
  <div class='userProfilePwdContainer'>
    <form data-toggle="validator" role="form">
      <div class="col-sm-12">
        <!-- <div class="form-group col-sm-6">
          <input type="password" data-minlength="6" class="form-control inputPassword" id="inputPassword" placeholder="Password" required>
          <span style='width= 600px;'class="help-block">Minimum of 6 characters - No special characters</span>
        </div>
        <div class="form-group col-sm-6">
          <input type="password" class="form-control inputPasswordConfirm" id="inputPasswordConfirm" data-match="#inputPassword" data-match-error="Whoops, these don't match" placeholder="Confirm" required>
          <div class="help-block with-errors"></div>
        </div> -->
        <h2 class="userProfileChangePw">Change Password</h2>
      </div>
    </div>
  </form>
  </div>
  </div>
</div>

<!-- end of user profile -->
